@import "../../responsive.scss";

.homePage {
    display: flex;
    height: 100%;
    // overflow: scroll;

    .textContainer {
        flex: 3;

        .wrapper {
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 100%;

            @include sm {
                padding-right: 0px;
                // justify-content: ;
            }

            .title {
                font-size: 64px;

                @include md {
                    font-size: 48px;
                }
            }

            p {
                font-size: 20px;
            }
        }
    }

    .imgContainer {
        flex: 2;
        background-color: #fcf5f3;
        position: relative;
        display: flex;
        align-items: center;
        
        img {
            width: 110%;
            position: absolute;
            right: 0;
            
        }

        @include sm {
            display: none;
        }
    }


}

// .homePage::-webkit-scrollbar {
//     display: none;
// }